$primary-color: #629584;
$contrast-text-color: #E2F1E7;
$link-hover-color: #c0ddca;
$secondary-color: #E2F1E7;
$text-color: #243642;
$background-color: #E2F1E7;

.body {
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: $primary-color;

  &--title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: $contrast-text-color;
  }
}

.nav {
  &--list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
  }

  &--element {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: $contrast-text-color;
    transition: color 0.3s ease;
  }

  &--element:hover {
    color: $link-hover-color;
    cursor: pointer;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: $contrast-text-color;

  &--logo {
    width: 120px;
    margin-bottom: 10px;
  }

  &--title {
    font-size: 24px;
    font-weight: 700;
    color: $text-color;
    margin: 5px 0;
  }

  &--text {
    font-size: 10px;
    font-weight: 400;
    color: $text-color;
    text-align: center;
  }
}

.footer {
  background-color: $primary-color;
  color: $contrast-text-color;
  padding: 10px;
  text-align: center;

  &--hr {
    border-top: 1px solid $secondary-color;
    margin: 10px 0;
  }

  &--container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.article-block {
  list-style: none;
  color: $contrast-text-color;
  background-color: $primary-color;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &--container {
    width: 250px;
    height: 350px;
  }

  &--icon {
    border-radius: 12px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  &--title {
    font-size: 16px;
    font-weight: 600;
    color: $contrast-text-color;
    margin-bottom: 10px;
  }

  &--categories {
    display: flex;
    max-height: 14px;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 5px;
  }

  &--category {
    font-size: 12px;
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #E2F1E7;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.article {
  &--icon {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  &--container {
    padding: 20px;
  }
}
