header(class='header')
  h1(class='header--title') Header
  nav(class='nav')
    ul(class='nav--list')
      li(class='nav--element') Categories
      li(class='nav--element') Articles
      li(class='nav--element') About