header(class='header')
  h1(class='header--title') Blog app
  nav(class='nav')
    ul(class='nav--list')
      li
        a(class='nav--element', href='/categories') Categories
      li
        a(class='nav--element', href='/articles') Articles
      li
        a(class='nav--element', href='/') About