extends partials/layout

block content
  ul(class='categories-list')
    each category in categories
      li(class='categories-list--element')
        a(class='categories-list--link', href= categoriesLinks[category])= category