extends partials/layout 

block content
  div(class='about')
    img(src='/images/logo.svg', alt='Logo is here', class='about--logo')
    h1(class='about--title') My blog app!
    p(class='about--text') Created using Express.js
  ul(class='articles-list')
    each article in articles
      include partials/article-block