.body {
  font-family: 'Roboto', sans-serif;;
  background-color: #EAD8B1;
  color: #001F3F;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}

.header--title {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.nav {
}

.nav--list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: left;
  gap: 15px;
}

.nav--element {
  margin: 0 15px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.nav--element:hover {
  color: #053f79;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about--logo {
  width: 100px;
  margin-bottom: 5px;
}

.about--title {
  font-size: 32px;
  font-weight: 600;
  margin: 5px 0px;
}

.about--text {
  font-size: 12px;
  font-weight: 600;
}

.footer {
  text-align: center;
}

.footer--hr {
  border-top: 1px solid #001F3F;
}

.footer--container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}